<html>

<head>

    <style>
table {
    border:1px solid black;
    border-collapse:collapse;
    width:50%;
    height:50%;
}
        td { border:1px solid black;
            border-collapse: collapse;}
        th { color:purple;
            border:1px solid black;
             border-collapse:collapse;
        }

    </style>
</head>
<body>
<h1> {{album}} </h1>

<table>
    <tr>
        <th> Titre </th>
        <td> Artiste </td>
        <td> Durée </td>
        <td> Prix </td>
    </tr>
    {%for track in tracks %}
        <tr>
            <th> <strong> {{track.Name}} </strong></th>
            <td> {{track.Composer }}  </td>

            <td id="{{track.Milliseconds}}"> {{track.Milliseconds}}

            </td>
            <script>
            var x =  document.getElementById("{{track.Milliseconds}}").innerHTML;
            var z = Number(x) ;
            var mins = (z-(z%60000))/60000 ;
            var sec = ((z-(mins*60000))/1000).toFixed(0) ;
            document.getElementById("{{track.Milliseconds}}").innerHTML = mins + "mins" + sec + "s" ;
            </script>


            <td>  {{track.UnitPrice }} </td>
        </tr>
    {% endfor %}

</table>

</body>
</html>